@import '../../scss/base.scss';

#main {
    display: block;
    height: calc(100% - $footer-height);
    flex: 1;
    right: 0;
    left: 0;
    margin: 0;
    margin-bottom: $footer-height;
    background-color: $main-background-color;
}