@import '../../scss/base.scss';

.tag-search {
    width: calc(100% - 20px);
    margin-top: 20px;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: 10px;
    height: 20px;
    background-color: $light-background-color;
    border-radius: 10px;
    border: solid 1px $main-font-color;
}

.search-bar {
  height: 25px;
  width: calc(100% - 180px);
  background-color: $light-background-color;
  margin-top: 10px;
  margin-left: 10px;
  border-radius: 8px;
  border: solid 1px $main-font-color;
}