@import '../../scss/base.scss';

.side-bar-title {
  position: relative;
  background-color: #454545;
  height: 25px;
  border-top: solid 2px #454545;
  border-radius: 1px 1px 0 0;
}
.side-bar-title:nth-of-type(1) {
  border-top: none;
}
.side-bar-title-text {
  position: absolute;
  height: 25px;
  width: 60px;
  padding-top: 8px;
  padding-left: 14px;
  padding-right: 14px;
  background-color: #232323;
  color: #bbb;
  user-select: none;
}