@import 'const';

.modal-form {
  width: 400px;

  .close-button {
    display: block;
    width: 18px;
    height: 18px;
    margin-top: -8px;
    margin-left: auto;
    margin-right: -8px;
    margin-bottom: 10px;
    cursor: pointer;
    &:hover {
      color: $hover-font-color;
    }
  }

  .title {
    font-size: 1.2em;
    margin-bottom: 16px;
  }
  .input-block, .show-block {
    margin-bottom: 10px;
  }
  .content {
    font-size: 1em;
    margin-bottom: 15px;
  }

  .label-name {
    display: block;
    font-size: 0.9em;
    margin-bottom: 6px;
  }
  .text-box {
    display: block;
    background-color: #444;
    border: none;
    height: 22px;
    width: 100%;
    color: $main-font-color;
    border-radius: 2px;
  }
  .input-dir-path {
    display: flex;

    .text-box {
      box-sizing: border-box;
      width: calc(100% - 34px);
      margin-right: 4px;
    }
    .button {
      box-sizing: border-box;
      margin: 0;
      height: 22px;
      width: 30px;
    }
  }
  .form-buttons {
    display: flex;
    justify-content: flex-end;
    .button:nth-child(n + 2) {
      margin-left: 10px;
    }
  }

  .button {
    display: block;
    height: 25px;
    width: 100px;
    border-radius: 2px;
    border: none;
    color: $main-font-color;
    background-color: $light-background-color;
    cursor: pointer;
    &:hover {
      background-color: $verylight-background-color;
    }
  }

  .existing-workspace-link {
    margin-top: 10px;
    font-size: 12px;
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
