@import '../../scss/base.scss';

.info-body {
    display: block;
    float: right;
    color: $main-font-color;
    font-size: 13px;
    line-height: 16px;
    width: calc(100% - 65px - 14px);
    padding: 5px 5px;
    background-color: #666;
    border-radius: 4px;
  
    &.editable {
      user-select: text;
    }
    &.freezed {
      user-select: none;
    }
    &.memo {
      resize: none;
      height: 50px;
    }
  }