@import '../../scss/base.scss';

.server-icon {
    display: block;
    width: 36px;
    height: 36px;
    padding: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4px;
    border-radius: 10px;
    user-select: none;
    border: 3px solid $edge-gray;
    transition: 0.15s;
    cursor: pointer;
    &:hover, &.selected {
      border: 3px solid #ccc;
    }
}