@import '../../scss/base.scss';

.control-panel {
    position: absolute;
    top: -10px;
    right: 0;
    height: 48px;
    width: 140px;
    background-color: $light-background-color;
    & > .back-foward {
      margin-left: 60px;
      margin-top: 16px;
      & > svg {
        width: 18px;
        height: 18px;
        color: $main-font-color;
        cursor: pointer;
        &:nth-of-type(2) {
          margin-left: 15px;
        }
      }
    }
  }