.browse-image-area {
  position: relative;

  .main-header-area {
    position: relative;
    width: 100%;
    height: 38px;
    border-bottom: solid 2px $light-background-color;
    background-color: $main-background-color;
  }
  $search-bar-icons-width: 24px;
  $search-bar-icons-padding: 4px;
  @mixin search-bar-icons {
    float: left;
    height: 25px;
    width: $search-bar-icons-width;
    padding-top: 12px;
    padding-right: $search-bar-icons-padding;
    padding-left: $search-bar-icons-padding;
    cursor: pointer;
    & > svg {
      display: block;
      width: 18px;
      height: 18px;
      color: $main-font-color;
    }
  }
  .prev {
    @include search-bar-icons;
    padding-left: 10px;
  }
  .reload {
    @include search-bar-icons;
  }
  $search-bar-icnos-total-width: $search-bar-icons-width + $search-bar-icons-padding * 2;
  .search-bar {
    position: absolute;
    top: 5px;
    left: calc(10px + $search-bar-icnos-total-width * 2);
    display: flex;
    flex-wrap: nowrap;
    height: 25px;
    width: calc(100% - (140px + $search-bar-icnos-total-width * 2) - 20px); // -20pxは微調整
    background-color: $light-background-color;
    border-radius: 8px;
    border: solid 1px $main-font-color;
    overflow-x: scroll;
    overflow-y: hidden;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  .control-panel {
    position: absolute;
    top: -10px;
    right: 0;
    height: 48px;
    width: 140px;
    background-color: $light-background-color;
    & > .back-foward {
      margin-left: 60px;
      margin-top: 16px;
      & > svg {
        width: 18px;
        height: 18px;
        color: $main-font-color;
        cursor: pointer;
        &:nth-of-type(2) {
          margin-left: 15px;
        }
      }
    }
  }

  .image-view-area {
    position: absolute;
    background-color: $main-background-color;
    z-index: 2;
    top: 40px;
    width: calc(100% - 10px);
    height: calc(100% - 40px);
    padding: 0 5px;
    overflow-y: auto;
  }
  $side-panel-width: 120px;
  .images-side-panel {
    float: left;
    background-color: $main-background-color;
    width: calc($side-panel-width - 5px);
    margin-right: 5px;
    height: 100%;
    overflow-y: auto;
    img {
      width: 100%;
      height: auto;
    }
  }
  .images-area {
    background-color: $main-background-color;
    z-index: 2;
    top: 40px;
    width: 100%;
    height: 100%;
    overflow-y: auto;

    &.show-side-panel {
      float: right;
      width: calc(100% - $side-panel-width);
    }
    &.homing {
      cursor: move;
    }
  }
  .images-area-multi {
    img {
      width: 100%;
      height: auto;
      user-select: none;
      -webkit-user-drag: none;
    }
  }
  .images-area-single {
    img {
      height: auto;
      user-select: none;
      -webkit-user-drag: none;
    }
  }
}
