
$edge-gray: #454545;
$main-background-color: #232323;
$light-background-color: #333;
$verylight-background-color: #444;
$dark-background-color: #1b1b1b;
$main-font-color: #bbb;
$hover-font-color: #666;
$footer-height: 20px;
$selected-border-color: rgb(28, 90, 201);
