@import 'layout';
@import 'serverList';
@import 'mainMenu';
@import 'browseImageArea';
@import 'thumbneil';
@import 'imageSidebar';
@import 'modal';
@import 'tagManage';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap');
html {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}
