.thumbnail-area {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: calc(100% - 10px);
  height: calc(100% - 10px - 40px);
  padding: 5px;
  overflow-y: scroll;

  .thumbnail {
    position: relative;
    margin: 2px;
    width: auto;
    height: 122px;
    min-width: 40px;
    border: 3px solid $main-background-color;
    border-radius: 4px;
    transition: 0.15s;

    &:hover {
      border-color: $verylight-background-color;
      cursor: pointer;
    }
    &.selected {
      border-color: $selected-border-color;
    }
    & > img {
      width: auto;
      height: 120px;
      border: 1px solid $main-background-color;
      border-radius: 4px;
      user-select: none;
    }
    & > .original-size-icon {
      position: absolute;
      background-color: grey;
      right: 0;
      bottom: 0;
      padding-right: 5px;
      padding-bottom: 5px;
      width: 16px;
      height: 16px;
      transition: 0.15s;
      opacity: 0.8;
      &:hover {
        cursor: zoom-in;
      }
      & > svg {
        color: $main-font-color;
        margin-left: 4px;
        margin-top: 4px;
      }
    }
  }
  &.drag-over {
    opacity: 0.3;
  }
}

#image-preview {
  &:hover {
    cursor: zoom-in;
  }
}
