@import 'const';

.workspace-list {
  .workspace-icon {
    position: relative;
    display: block;
    width: 36px;
    height: 36px;
    padding: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4px;
    border-radius: 10px;
    user-select: none;
    border: 3px solid $edge-gray;
    transition: 0.15s;
    cursor: pointer;
    &:hover, &.selected {
      border: 3px solid #ccc;
    }
    &:nth-of-type(1) {
      margin-top: 1px;
    }

    .actually-workspace-icon {
      width: 36px;
      height: 36px;
      border-radius: 6px;
    }

    .workspace-icon-unlink {
      display: none;
      position: absolute;
      color: black;
      top: 6px;
      left: 6px;
      width: 28px;
      height: 28px;
      pointer-events: none;
    }
    &.not_available {
      opacity: 0.7;
      .workspace-icon-unlink {
        display: block;
      }
    }

    .fa-plus {
      display: inline-block;
      color: white;
      margin: auto;
      text-align: center;
      width: 36px;
      height: 36px;
      cursor: pointer;
    }
  }
}
